<div class="row">
  <div class="row">
    <div class="card col-4">
      <div class="card-body">
        <div class="card-title h3">Estrutura Base</div>
        <form class="mt-4" [formGroup]="structure" (ngSubmit)="generateStructure()">
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <label for="form-producers-count">Qtd. de producers: </label>
                <input id="form-producers-count" type="number" class="form-control" formControlName="producersCount"
                       min="0">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="form-consumers-count">Qtd. de consumers: </label>
                <input id="form-consumers-count" type="number" class="form-control" formControlName="consumersCount"
                       min="0">
              </div>
            </div>
            <div class="col-3">
              <div class="form-group">
                <label for="form-consumers-duration">Tempo consumer: </label>
                <input id="form-consumers-duration" type="number" min="1" class="form-control"
                       formControlName="consumerExecutionTimeSeconds">
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <button type="submit" class="btn btn-primary">
                Gerar Estrutura
              </button>
              <button style="margin-left: 5px" (click)="toggleConcurrentExecution()"
                      [ngClass]="concurrentExecutionEnable ? 'btn btn-danger' : 'btn btn-success'">
                {{ concurrentExecutionEnable ? "Parar Execução simultânea" : "Iniciar Execução simultânea"}}
              </button>
            </div>
          </div>
        </form>

        <div class="mt-5">
          <div>Quantidade de producers definidos: {{ producersCount }}</div>
          <div>Quantidade de consumers definidos: {{ consumersCount }}</div>
          <div>Tempo de execução do consumer: {{ consumerExecutionTimeSeconds }} segundo(s)</div>
        </div>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="card-title h3">Mensagens</div>
        <div class="row mt-4 mb-3">
          <div class="col">
            <button class="col-3 btn btn-danger" (click)="clearMessages()">Limpar</button>
          </div>
        </div>
        <ul style="height: 200px; overflow-y: scroll">
          <li *ngFor="let message of messages; index as i">Mensagem: {{ i + 1 }} | {{ message }}</li>
        </ul>
      </div>
    </div>
    <div class="card col-4">
      <div class="card-body">
        <div class="card-title h3">Log Execução</div>
        <div class="row mt-4 mb-3">
          <div class="col">
            <button class="col-3 btn btn-danger" (click)="clearLog()">Limpar</button>
          </div>
        </div>
        <ul class="mt-3" style="height: 200px; overflow-y: scroll">
          <li *ngFor="let log of logger">{{ log }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-6">
      <div class="card-body">
        <div class="card-title h3">Producers</div>
        <div class="row mt-4 mb-4">
          <div class="col">
            <button class="col-3 btn btn-primary" (click)="sendAllMessages()">Enviar de todos</button>
          </div>
        </div>
        <div class="mt-4" style="height: 200px; overflow-y: scroll">
          <div *ngFor="let _ of producers; index as i" class="input-group mb-2">
            <span class="input-group-text">Producer {{ i + 1 }}</span>
            <button (click)="produceMessage(i)" class="btn btn-info text-white">Enviar mensagem</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-6">
      <div class="card-body">
        <div class="card-title h3">Consumers</div>
        <div class="row mt-4 mb-4">
          <div class="col">
            <button class="col-3 btn btn-primary" (click)="consumeAllMessages()">Consumir com todos</button>
          </div>
        </div>
        <div class="mt-4" style="height: 200px; overflow-y: scroll">
          <div *ngFor="let _ of consumers; index as i" class="input-group mb-2">
            <span class="input-group-text">Consumer {{ i + 1 }}</span>
            <button (click)="consumeMessage(i)" class="btn btn-info text-white">Consumir mensagem</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
